body{
  background-color: blue;
  width:100%;
  flex-direction: row;
}
.box3{
  display:flex;
  justify-content: space-around;
}
.box1{
  background-color: blueviolet;
  height: 100px;
  width: 350px;
  

}
@media(max-width:500px){
  body{
    background-color: red;
  }
  .box3{
    flex-direction: column;
  }
  .box1{
    width:100%
  }
}